.list-appoinments {
    padding: 0px 0px 0px 2%;
}

.list-appoinments  .media{
    line-height: 7px;
}

.media h3 {
    color: rgb(60, 57, 57);
    text-transform: capitalize;
    font-weight: bold;

}

span {
    font-weight: bold;
    color: #fff;
}

p {
    color: gray;
    font-weight: 700;
}